{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@KatanaOfferBundle/Resources/public/css/style.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="/js/angular.min.js"></script>
    {#<script  type="text/javascript"  src="{{ asset('/js/angular-strap-2.0.0-beta.1/src/tooltip/tooltip.js') }}"></script>#}
    {#<script  type="text/javascript"  src="{{ asset('/js/angular-strap-2.0.0-beta.1/src/popover/popover.js') }}"></script>#}

    {% javascripts '@KatanaOfferBundle/Resources/public/js/script.js'
                   '@KatanaOfferBundle/Resources/public/js/ajax-loader.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


{% block body -%}

    {% include '::navbar.html.twig' %}

    <div ng-app="offersApp">

    <div class="container-fluid">

        <div class="well">

            <form class="form form-horizontal search-form" {#action="{{ path('filter_offers') }}"#} method="POST" role="form"
                ng-controller="FilterFormCtrl" ng-submit="do()">

                <div class="form-group">
                    {#{% verbatim %}{{ showSearchHint }}{% endverbatim %}#}
                    <input type="text" id="searchText" name="search" class="form-control" placeholder="Введите название аппы" autocomplete="off"
                           ng-model="formData.searchText" ng-focus="searchTextFocus = true" ng-blur="searchTextFocus = false">


                    <div id="apps_container" ng-mouseover="showSearchHint = true" ng-mouseout="showSearchHint = false" ng-show="(searchTextFocus || showSearchHint) && apps.length">
                        <ul style="padding: 3px 12px;">
                            {#float:left; padding:3px;#}
                            {% verbatim %}
                            <li style="list-style: none;" ng-repeat="app in apps | filter:formData.searchText">
                                <span class="label label-info clickable" ng-click="formData.searchText = app.name">{{ app.name }}</span>
                            </li>
                            {% endverbatim %}
                        </ul>
                    </div>

                </div>


                <hr class="v-narrow">

                <div class="col-xs-4">
                    {{ form_row(form.affiliate) }}
                    {{ form_row(form.device) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.platform) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.country) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.new) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.incentive) }}
                </div>


                <div class="form-actions">
                    <button class="btn btn-success" type="submit">Искать</button>
                    <button class="btn" type="button" onclick="window.location.href = '{{ path('offers') }}'">Сбросить</button>
                </div>

                {{ form_end(form) }}
            </form>



        </div>


        <div class="">
            <table id="offers-wrapper" ng-controller="OffersCtrl">
                <tr>
                    {#IOS Offers#}
                    <td class="ios-offers">
                        {% verbatim %}
                        <!--ALPHABAET LINKS-->
                        <div id="iosLetters">
                            <div ng-repeat="data in OffersData.offers">
                                <a href="#iosLetter{{ data.letter}}">{{ data.letter }}</a>
                            </div>
                        </div>

                        <h4 style="text-align: center;">iOS</h4>

                        <table id="ios-offers-table" class="table table-condensed" style="padding:3px;">
                            <tbody ng-repeat="data in OffersData.offers">
                                <!--БУКВА-->
                                <tr id="iosLetter{{ data.letter }}" class="anchor">
                                    <td colspan="9" class="letter-anchor">{{ data.letter }}</td>
                                </tr>
                                <!--ОФФЕРЫ-->
                                <tr ng-repeat="offer in data.offers" data-offer-id="{{ offer.id }}">
                                    <td style="max-width:40px; max-height:40px;">
                                        <img class="img-rounded offer-icon" ng-show="offer.icon.length>0" src="{{offer.icon}}"/>
                                    </td>
                                    <td width="60px">{{ offer.partner }}</td>
                                    <td width=""><a href="{{ offer.externalUrl }}" target="_blank">{{ offer.name }}</a>
                                        <span pop-over data-offer-id="{{ offer.id }}" ng-show="offer.relative_offers.length > 0" class="badge badge-yellow pull-right clickable" style="font-size: 0.7em;">
                                            {{ offer.relative_offers.length ? '+' + offer.relative_offers.length : ''  }}
                                        </span>
                                    </td>
                                    <td width="30px">{{ offer.payout }}</td>
                                    <td width="30px"><span class="label label-info">{{ offer.device }}</span></td>
                                    <td width="20%">
                                        <nobr>
                                            <span class="label label-info" style="margin-right: 5px;" ng-repeat="country in offer.countries | limitTo:3">{{country}}</span>
                                            <span pop-over-countries data-offer-id="{{ offer.id }}" class="badge badge-default" ng-if="offer.countries.length > 3">+</span>
                                        </nobr>
                                    </td>
                                    <td width="30px"><span class="label label-warning" ng-if="offer.is_incentive">Inc</span></td>
                                    <td width="30px"><span class="label label-success" ng-if="offer.is_new">new</span></td>
                                </tr>
                            </tbody>
                        </table>
                        {% endverbatim %}
                    </td>
                    {#ANDROID Offers#}
                    <td class="android-offers">

                        {% verbatim %}
                        <!--ALPHABAET LINKS-->
                        <div id="androidLetters">
                            <div ng-repeat="data in OffersData.androidOffers">
                                <a href="#androidLetter{{ data.letter }}">{{ data.letter }}</a>
                            </div>
                        </div>

                        <h4 style="text-align: center;">Android</h4>

                        <table id="ios-offers-table" class="table table-condensed" style="padding:3px;">
                            <tbody ng-repeat="data in OffersData.androidOffers">
                                <!--БУКВА-->
                                <tr id="androidLetter{{ data.letter }}" class="anchor">
                                    <td colspan="9" class="letter-anchor">{{ data.letter }}</td>
                                </tr>
                                <!--ОФФЕРЫ-->
                                <tr ng-repeat="offer in data.offers"  data-offer-id="{{ offer.id }}">
                                    <!--td style="max-width:40px; max-height:40px;">
                                        <img class="img-rounded offer-icon" ng-show="offer.icon.length>0" src="{{ offer.icon }}"/>
                                    </td-->
                                    <td width="60px">{{ offer.partner }}</td>
                                    <td width=""><a href="{{ offer.externalUrl }}" target="_blank">{{ offer.name }}</a>
                                        <span pop-over data-offer-id="{{ offer.id }}" ng-show="offer.relative_offers.length > 0" class="badge badge-yellow pull-right clickable" style="font-size: 0.7em;">
                                            {{ offer.relative_offers.length ? '+' + offer.relative_offers.length : ''  }}
                                        </span>
                                    </td>
                                    <td width="60px">{{ offer.payout }}</td>
                                    <td width="20%">
                                        <nobr>
                                            <span class="label label-info" style="margin-right: 5px;" ng-repeat="country in offer.countries | limitTo:3">{{country}}</span>
                                            <span pop-over-countries data-offer-id="{{ offer.id }}" class="badge badge-default" ng-if="offer.countries.length > 3">+</span>
                                        </nobr>
                                    </td>
                                    <td width="30px"><span class="label label-warning" ng-if="offer.is_incentive">Inc</span></td>
                                    <td width="30px"><span class="label label-success" ng-if="offer.is_new">new</span></td>
                                </tr>
                            </tbody>
                        </table>
                        {% endverbatim %}

                    </td>
                </tr>
            </table>
        </div>

    </div>

    </div>{#end ng-app#}

    {% verbatim %}
    <div id="popover-content" style="display: none">
        <div class="container-fluid">
            <table class="table table-condensed">
                <tr class="" ng-repeat="offer in relative_offers">
                    <td style="width: 40px; min-width: 30px;">
                        <img class="img-rounded offer-icon" ng-show="offer.icon.length>0" src="{{ offer.icon }}"/>
                    </td>
                    <td width="50px">{{offer.partner}}</td>
                    <td width="40%"><a href="{{ offer.externalUrl }}" target="_blank">{{offer.name}}</a></td>
                    <td width="60px">{{ offer.payout }}</td>
                    <td width="3%"><span class="label label-info">{{ offer.device }}</span></td>
                    <td width="20%">
                        <nobr>
                            <span class="label label-info" style="margin-right: 5px;" ng-repeat="country in offer.countries | limitTo:3">{{country}}</span>
                            <span ng-if="offer.countries.length > 3">... <span class="label label-danger" style="margin-right: 3px;">{{offer.countries.length}}</span></span>
                        </nobr>
                    </td>
                    <td width="3%"><span class="label label-warning" ng-if="offer.incentive">Inc</span></td>
                    <td width="3%"><span class="label label-success" ng-if="offer.new">new</span></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="popover-countries" style="display: none">
        <div class="container-fluid" style="max-width: 50%;">
            <nobr>
                <span class="label label-info" style="margin-right: 3px;" ng-repeat="country in countries | limitTo:10">{{country}}</span>
                <span ng-if="countries.length > 10">... <span class="label label-danger" style="margin-right: 3px;">{{countries.length}}</span></span>
            </nobr>
        </div>
    </div>

    {% endverbatim %}
{% endblock %}

{% block inline_javascripts %}
<script>

    var offer_filter_url = "{{ path('offer_ajax_filter') }}";

    $(document).ready(function(){
        $('.chosen').chosen({allow_single_deselect: true});


        $("#ios-offers-table tr").popover({
            placement: 'bottom',
//            title: function(){return 'Конкуренты';},
            content: function() {
                console.log($(this).data('offer-id'));
                return $('#popover-content').html();
            },
            trigger: 'click',
            live: true,
            html: true
        });

    });
</script>
{% endblock %}