{% extends '::base.html.twig' %}


{% block javascripts %}
    {{ parent() }}

    <script src="/js/angular.min.js"></script>
    {#<script  type="text/javascript"  src="{{ asset('/js/angular-strap-2.0.0-beta.1/src/tooltip/tooltip.js') }}"></script>#}
    {#<script  type="text/javascript"  src="{{ asset('/js/angular-strap-2.0.0-beta.1/src/popover/popover.js') }}"></script>#}

    {% javascripts '@KatanaOfferBundle/Resources/public/js/script.js'
                   '@KatanaOfferBundle/Resources/public/js/ajax-loader.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@KatanaOfferBundle/Resources/public/css/style.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body -%}

    {% include '::navbar.html.twig' %}

    now refactoring

    <div ng-app="offersApp">

    <div class="container-fluid">

        <div class="well">

            <form class="form form-horizontal search-form" {#action="{{ path('filter_offers') }}"#} method="POST" role="form" ng-controller="FilterFormCtrl" ng-submit="do()">

                <div class="search-form-row">
                    {{ form_row(form.search) }}
                    {{ form_row(form.affiliate) }}
                </div>

                <div class="search-form-row">
                    {{ form_row(form.platform) }}
                    {{ form_row(form.device) }}
                </div>

                <div class="search-form-row">
                    {{ form_row(form.country) }}
                </div>

                <div class="search-form-row">
                    {{ form_row(form.new) }}
                </div>

                <div class="search-form-row">
                    {{ form_row(form.incentive) }}
                </div>

                <div class="form-actions">
                    {#<i class="icon-search"></i>#}
                    <button class="btn btn-success" type="submit">Искать</button>
                    <button class="btn" type="button" onclick="window.location.href = '{{ path('offers') }}'">Сбросить</button>
                </div>


                {#<div class="btn-group btn-group-xs" data-toggle="buttons">#}
                    {#<label class="btn btn-primary">#}
                        {#<input type="checkbox" name="filter_form_letter_a" ng-model="formData.letter" ng-change="do()"/> A#}
                    {#</label>#}
                    {#<label class="btn btn-primary">#}
                        {#<input type="checkbox" ng-model="formData.letters "/> B#}
                    {#</label>#}
                    {#<label class="btn btn-primary">#}
                        {#<input type="checkbox" /> C#}
                    {#</label>#}
                {#</div>#}


                {{ form_end(form) }}
            </form>



        </div>

        {#{% verbatim %}#}
        {#<a href="#" pop-over popoverOffers="popoverOffers", title="Competitors">Show Pop over</a>#}
        {#{% endverbatim %}#}


        {#<!-- Markup for a default tooltip with a scope passed as an object {title:''} -->#}
        {#<p>Tight pants next level keffiyeh <a href="" data-animation="animation-flipX" bs-tooltip="tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.</p>#}

        {#<div class="input-group col-xs-5">#}
  {#<span class="input-group-btn">#}
    {#<!-- You can also use data-attrs to assign scope variables -->#}
    {#<button class="btn btn-primary" type="button" data-trigger="click" data-type="success" title="{{tooltip.title}}" bs-tooltip="tooltip">Click me</button>#}
  {#</span>#}
            {#<input type="text" class="form-control" data-placement="right" data-type="info" data-container="body" placeholder="Focus to toggle tooltip" data-trigger="focus" bs-tooltip="tooltip">#}
        {#</div>#}
        {#<div class="checkbox">#}
            {#<label data-placement="bottom" data-animation="animation-fadeAndScale" data-type="info" bs-tooltip="tooltip">#}
                {#<input type="checkbox" ng-model="tooltip.checked"> Remember me#}
            {#</label>#}
        {#</div>#}

        {#<!-- Button to trigger a default popover with a scope as an object {title:'', content:'', etc.} -->#}
        {#<button type="button" class="btn btn-lg btn-primary" data-placement="bottom" data-animation="animation-flipX" bs-popover="popover">Click to toggle popover#}
            {#<br>#}
            {#<small>(using an object)</small>#}
        {#</button>#}


        <div class="">
            <table id="offers-wrapper" ng-controller="OffersCtrl">
                <tr>
                    {#IOS Offers#}
                    <td class="ios-offers">
                        {% verbatim %}
                        <!--ALPHABAET LINKS-->
                        <div id="iosLetters">
                            <div ng-repeat="data in OffersData.offers">
                                <a ng-href="#iosLetter{{ data.letter }}">{{ data.letter }}</a>
                            </div>
                        </div>

                        <h4 style="text-align: center;">iOS</h4>

                        <table id="ios-offers-table" class="table table-condensed" style="padding:3px;">
                            <tbody ng-repeat="data in OffersData.offers">
                                <!--БУКВА-->
                                <tr id="#iosLetter{{ data.letter }}">
                                    <td colspan="9" class="letter-anchor">{{ data.letter }}</td>
                                </tr>
                                <!--ОФФЕРЫ-->
                                <tr ng-repeat="offer in data.offers" data-offer-id="{{ offer.id }}">
                                    <td style="max-width:40px; max-height:40px;">
                                        <img class="img-rounded offer-icon" src="{{offer.icon}}"/>
                                    </td>
                                    <td width="100px">{{ offer.partner }}</td>
                                    <td width="40%"><a href="#" target="_blank">{{ offer.name }}</a>
                                        <span pop-over data-offer-id="{{ offer.id }}" class="badge badge-yellow pull-right clickable" style="font-size: 0.7em;">
                                            {{ offer.relative_offers.length ? '+' + offer.relative_offers.length : ''  }}
                                        </span>
                                    </td>
                                    <td width="60px">1.55</td>
                                    <td width="10%"><span class="label label-info">iPhone</span></td>
                                    <td width="20%">
                                        <span class="label label-info">US</span>
                                    </td>
                                    <td width="60px"><span class="label label-warning">Inc</span></td>
                                    <td width="40px"><span class="label label-success">new</span></td>
                                </tr>
                            </tbody>
                        </table>
                        {% endverbatim %}
                    </td>
                    {#ANDROID Offers#}
                    <td class="android-offers">

                        {% verbatim %}
                        <!--ALPHABAET LINKS-->
                        <div id="androidLetters">
                            <div ng-repeat="data in OffersData.androidOffers">
                                <a href="#androidLetter{{ data.letter }}">{{ data.letter }}</a>
                            </div>
                        </div>

                        <h4 style="text-align: center;">Android</h4>

                        <table id="ios-offers-table" class="table table-condensed" style="padding:3px;">
                            <tbody ng-repeat="data in OffersData.androidOffers">
                                <!--БУКВА-->
                                <tr id="#androidLetter{{ data.letter }}">
                                    <td colspan="9" class="letter-anchor">{{ data.letter }}</td>
                                </tr>
                                <!--ОФФЕРЫ-->
                                <tr ng-repeat="offer in data.offers"  data-offer-id="{{ offer.id }}">
                                    <td style="max-width:40px; max-height:40px;">
                                        <img class="img-rounded offer-icon" src="{{ offer.icon }}"/>
                                    </td>
                                    <td width="100px">Yeahmobi</td>
                                    <td width="40%"><a href="#" target="_blank">{{ offer.name }}</a>
                                        <span pop-over data-offer-id="{{ offer.id }}" class="badge badge-yellow pull-right clickable" style="font-size: 0.7em;">
                                            {{ offer.relative_offers.length ? '+' + offer.relative_offers.length : ''  }}
                                        </span>
                                    </td>
                                    <td width="60px">1.55</td>
                                    <td width="10%"><span class="label label-info">iPhone</span></td>
                                    <td width="20%">
                                        <span class="label label-info">US</span>
                                    </td>
                                    <td width="60px"><span class="label label-warning">Inc</span></td>
                                    <td width="40px"><span class="label label-success">new</span></td>
                                </tr>
                            </tbody>
                        </table>
                        {% endverbatim %}

                    </td>
                </tr>
            </table>
        </div>

    </div>

    </div>{#end ng-controller#}

    {% verbatim %}
    <div id="popover-content" style="display: none">
        <div class="container-fluid">
            <table class="table table-condensed">
                <tr class="" ng-repeat="offer in relative_offers">
                    <td style="width: 40px; min-width: 30px;">
                        <img class="img-rounded offer-icon" src="{{ offer.icon }}"/>
                    </td>
                    <td width="100px">{{offer.partner}}</td>
                    <td width="40%"><a href="#" target="_blank">{{offer.name}}</a></td>
                    <td width="60px">{{ offer.payout }}</td>
                    <td width="10%"><span class="label label-info"></span></td>
                    <td width="20%">
                        <span class="label label-info"></span>
                    </td>
                    <td width="60px"><span class="label label-warning">Inc</span></td>
                    <td width="40px"><span class="label label-success">new</span></td>
                </tr>
            </table>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block inline_javascripts %}
<script>

    var offer_filter_url = "{{ path('offer_ajax_filter') }}";

    $(document).ready(function(){
        $('.chzn').chosen({allow_single_deselect: true});


        $("#ios-offers-table tr").popover({
            placement: 'bottom',
//            title: function(){return 'Конкуренты';},
            content: function() {
                console.log($(this).data('offer-id'));
                return $('#popover-content').html();
            },
            trigger: 'click',
            live: true,
            html: true
        });

    });
</script>
{% endblock %}