{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@KatanaOfferBundle/Resources/public/css/style.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-resource.min.js"></script>

    {#<script  type="text/javascript"  src="{{ asset('/js/angular-strap-2.0.0-beta.1/src/tooltip/tooltip.js') }}"></script>#}
    {#<script  type="text/javascript"  src="{{ asset('/js/angular-strap-2.0.0-beta.1/src/popover/popover.js') }}"></script>#}

    {% javascripts '@KatanaOfferBundle/Resources/public/js/web-offer-script.js'
                   '@KatanaOfferBundle/Resources/public/js/ajax-loader.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}


{% block body -%}

    {% include '::navbar.html.twig' %}

    <div ng-app="offersApp">

    <div class="container-fluid">

        <div class="well">

            <form class="form form-horizontal search-form" {#action="{{ path('filter_offers') }}"#} method="POST" role="form"
                ng-controller="FilterFormCtrl" ng-submit="submit()">

                <div class="form-group">
                    {#{% verbatim %}{{ showSearchHint }}{% endverbatim %}#}
                    <input type="text" id="searchText" name="search" class="form-control" placeholder="Введите название аппы" autocomplete="off"
                           ng-model="formData.searchText" ng-focus="searchTextFocus = true" ng-blur="searchTextFocus = false">


                    <div id="apps_container" ng-mouseover="showSearchHint = true" ng-mouseout="showSearchHint = false" ng-show="(searchTextFocus || showSearchHint) && apps.length">
                        <ul style="padding: 3px 12px;">
                            {#float:left; padding:3px;#}
                            {% verbatim %}
                            <li style="list-style: none;" ng-repeat="app in apps | filter:formData.searchText">
                                <span class="label label-info clickable" ng-click="formData.searchText = app.name">{{ app.name }}</span>
                            </li>
                            {% endverbatim %}
                        </ul>
                    </div>

                </div>


                <hr class="v-narrow">

                <div class="col-xs-4">
                    {#{{ form_row(form.search) }}#}
                    {{ form_row(form.affiliate) }}
                    {{ form_row(form.device) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.platform) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.country) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.new) }}
                </div>

                <div class="col-xs-4">
                    {{ form_row(form.incentive) }}
                </div>


                <div class="form-actions">
                    <button class="btn btn-success" type="submit">Искать</button>
                    <button class="btn" type="button" onclick="window.location.href = '{{ path('web_platform') }}'">Сбросить</button>
                </div>

                {{ form_end(form) }}
            </form>

        </div>


        <div ng-controller="OffersCtrl">

            {% verbatim %}
            <table id="offers-table" class="table table-condensed" style="padding:3px;">
                <thead>
                    <tr>
                        <th><a href="javascript:void(0)" ng-click="sort_col('platform')">#<img src="{{ SortData.sort_asc && sort_asc_img || sort_desc_img }}" ng-show="SortData.sort_column=='platform'"></a></th>
                        <th></th>
                        <th class="text-left nowrap"><a href="javascript:void(0)" ng-click="sort_col('network')">Сетка<img src="{{ SortData.sort_asc && sort_asc_img || sort_desc_img }}" ng-show="SortData.sort_column=='network'"></th>
                        <th class="text-left nowrap"><a href="javascript:void(0)" ng-click="sort_col('name')">Название<img src="{{ SortData.sort_asc && sort_asc_img || sort_desc_img }}" ng-show="SortData.sort_column=='name'"></th>
                        <th class="text-left nowrap"><a href="javascript:void(0)" ng-click="sort_col('payout')">$$<img src="{{ SortData.sort_asc && sort_asc_img || sort_desc_img }}" ng-show="SortData.sort_column=='payout'"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--ОФФЕРЫ-->
                    <tr ng-repeat="offer in OffersData.offers" data-offer-id="{{ offer.id }}">
                        <td style="min-width:60px; max-width:40px; max-height:40px;">
                            <img class="img-rounded offer-icon" src="{{offer.platformIconUrl}}"/>
                        </td>
                        <td style="max-width:40px; max-height:40px;">
                            <img class="img-rounded offer-icon" ng-show="offer.icon.length > 0" src="{{offer.icon}}"/>
                        </td>
                        <td width="75px">{{ offer.partner }}</td>
                        <td width="" title="{{ offer.id }}"><a href="{{ offer.externalUrl }}" target="_blank">{{ offer.name }}</a>
                            <span pop-over data-offer-id="{{ offer.id }}" ng-click="AnalogOffersCache.fetch(offer.id)" class="badge badge-yellow pull-right clickable" style="font-size: 0.7em;">
                                аналоги
                            </span>
                        </td>
                        <td width="45px">{{ offer.payout }}</td>
                        <td width="30px"><span class="label label-info">{{ offer.device }}</span></td>
                        <td width="20%">
                            <nobr>
                                <span class="label label-info" style="margin-right: 5px;" ng-repeat="country in offer.countries | limitTo:3">{{country}}</span>
                                <span pop-over-countries data-offer-id="{{ offer.id }}" class="badge badge-default" ng-if="offer.countries.length > 3">+</span>
                            </nobr>
                        </td>
                        <td width="30px"><span class="label label-warning" ng-if="offer.is_incentive">Inc</span></td>
                        <td width="30px"><span class="label label-success" ng-if="offer.is_new">new</span></td>
                    </tr>
                </tbody>
            </table>

            <div style="text-align: center;">
                <a class="btn btn-default" ng-click="showMore()" ng-show="getCurrentCount() < getTotal()">Еще</a> Показано {{ getCurrentCount() }} из {{ getTotal() }}
            </div>
            {% endverbatim %}
        </div>

    </div>

    </div>{#end ng-app#}

    {% verbatim %}
    <div id="popover-content" style="display: none">
        <div class="container-fluid">
            <table class="table table-condensed">
                <tr class="" ng-repeat="offer in AnalogOffersCache.find(offer_id)">
                    <td style="width: 40px; min-width: 30px;">
                        <img class="img-rounded offer-icon" ng-show="offer.icon.length>0" src="{{ offer.icon }}"/>
                    </td>
                    <td width="50px">{{offer.partner}}</td>
                    <td width="40%"><a href="{{ offer.externalUrl }}" target="_blank">{{offer.name}}</a></td>
                    <td width="60px">{{ offer.payout }}</td>
                    <td width="3%"><span class="label label-info">{{ offer.device }}</span></td>
                    <td width="20%">
                        <nobr>
                            <span class="label label-info" style="margin-right: 5px;" ng-repeat="country in offer.countries | limitTo:3">{{country}}</span>
                            <span ng-if="offer.countries.length > 3">... <span class="label label-danger" style="margin-right: 3px;">{{offer.countries.length}}</span></span>
                        </nobr>
                    </td>
                    <td width="3%"><span class="label label-warning" ng-if="offer.incentive">Inc</span></td>
                    <td width="3%"><span class="label label-success" ng-if="offer.new">new</span></td>
                </tr>
            </table>

            <img src="/img/loader.gif" ng-show="AnalogOffersCache.find(offer_id) == null">
        </div>
    </div>

    <div id="popover-countries" style="display: none">
        <div class="container-fluid" style="max-width: 50%;">
            <nobr>
                <span class="label label-info" style="margin-right: 3px;" ng-repeat="country in countries | limitTo:10">{{country}}</span>
                <span ng-if="countries.length > 10">... <span class="label label-danger" style="margin-right: 3px;">{{countries.length}}</span></span>
            </nobr>
        </div>
    </div>

    {% endverbatim %}


{% endblock %}

{% block inline_javascripts %}
<script>

    var offer_filter_url = "{{ path('offer_web_ajax_filter') }}";
    {#var offer_analogs_url = "{{ path('offer_analogs') }}";#}

    $(document).ready(function(){

        $('.chosen').chosen({allow_single_deselect: true});

        /** set default 'web games' platform */
        $('#katana_offerbundle_offerfiltertype_platform').val({{ web_games_id }});
        $('#katana_offerbundle_offerfiltertype_platform').trigger('chosen:updated');


        $("#ios-offers-table tr").popover({
            placement: 'bottom',
//            title: function(){return 'Конкуренты';},
            content: function() {
                console.log($(this).data('offer-id'));
                return $('#popover-content').html();
            },
            trigger: 'click',
            live: true,
            html: true
        });


        /** Update debug bar on each Ajax request */
        $("body").ajaxComplete(function(event, XMLHttpRequest, ajaxOption){
console.log('Ajax Completed');
            if(XMLHttpRequest.getResponseHeader('x-debug-token')) {
                $('.sf-toolbar').remove();
//                $('.sf-toolbar').remove();
                $.get(window.location.protocol+'//'+window.location.hostname+'/app_dev.php/_wdt/'+XMLHttpRequest.getResponseHeader('x-debug-token'),function(data){
                    $('.sf-toolbar').append(data);
                });
            }
        });

    });
</script>
{% endblock %}