{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CronLog list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Type</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cronlog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.message }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cronlog_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
